<mat-toolbar>
  <span>E-Stock</span>
  <span class="example-spacer"></span>
  <button type="button" routerLink="/registercompany" routerLinkActive="active" mat-button class="registerCompany">
    Add Company
  </button>
  <button type="button" routerLink="/list" routerLinkActive="active" mat-button class="companylist">
    Company Details
  </button>
  <button type="button" routerLink="/addstock" routerLinkActive="active" mat-button class="addstock">
    Add Stocks
  </button>
  <button type="button" routerLink="/stocklist" routerLinkActive="active" mat-button class="stocklist">
    Search Stocks
  </button>
</mat-toolbar>
<router-outlet></router-outlet>